<div class="users w-100 p-3">
  <div class="row w-100" *ngIf="users">
    <h2 class="mt-3"> {{'User.title' | translate}} </h2>
    <div class="text-end mb-3">
      <button type="button" class="btn btn-success">+ {{ 'User.add_user' | translate}} </button>
    </div>
    <table class="table table-borderless w-100 table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col"> {{ 'User.id' | translate}}</th>
          <th scope="col"> {{ 'User.avatar' | translate}}</th>
          <th scope="col"> {{ 'User.firstname' | translate}}</th>
          <th scope="col"> {{ 'User.lastname' | translate}}</th>
          <th scope="col"> {{ 'User.email' | translate}}</th>
          <th scope="col"> {{ 'User.action' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{ user.id }}</th>
          <td>
            <img [src]="user.avatar" alt="User Avatar" class="rounded-circle" width="30" height="30" />
          </td>
          <td>{{ user.first_name }} </td>
          <td>{{ user.last_name }}</td>
          <td><a href="#">{{ user.email }}</a></td>
          <td>
            <div ngbDropdown class="dropdown">
              <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle-text-only" type="button" id="dropdownMenuButton1" aria-expanded="false">
                {{'User.action' | translate}}
              </button>
              <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                <li><button ngbDropdownItem href="#" >{{ 'User.update' | translate}}</button></li>
                <li><button ngbDropdownItem (click)="destroy(user.id)" href="#">{{ 'User.delete' | translate}}</button></li>
              </ul>
            </div>            
          </td>
        </tr>
      </tbody>
    </table>
    
    <nav class="d-flex justify-content-center">
      <ul class="pagination">
        <li class="page-item">
          <button class="page-link" href="#!" aria-label="Previous" (click)="previousPage()">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only"></span>
          </button>
        </li>
        <li class="page-item" *ngFor="let page of totalPages">
          <button class="page-link" href="#!" (click)="getPage(page)">{{ page }}</button>
        </li>
        <li class="page-item">
          <button class="page-link" href="#!" aria-label="Next" (click)="nextPage()">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only"></span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
  
  <div *ngIf="!users">
    <p class="mt-4" [translate]="'users.loading'"> {{'User.loading'| translate}} </p>
  </div>
</div>
