<header>
  <div class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between align-items-center">
      <div>
        <h2 class="text-light mb-0">  {{ 'Header.title' | translate }} </h2>
      </div>
      <div class="language-select">
        <ng-select class="form-control" [(ngModel)]="defaultLang" [clearable]="false" (change)="switchLanguage($event)">
          <ng-option *ngFor="let language of languages" [value]="language.language"> 
              <img [src]="language.flag">
              <span> {{language.language}} </span>
          </ng-option>
        </ng-select>
      </div>
    </div>
  </div>
</header>
