<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-menu-side-left></app-menu-side-left>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
