

<div class="d-flex h-100" id="wrapper">
  <div class="border-end h-100 w-100 bg-white" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a
      [routerLink]="['/']" 
        class="list-group-item list-group-item-action list-group-item-light p-3"
        href="#!">{{'Menu.home' | translate}}</a>

      <a
       [routerLink]="['/user-management']" routerLinkActive="router-link-active" 
        class="list-group-item list-group-item-action list-group-item-light p-3"
        href="#!">{{'Menu.users_management' | translate}}</a>
    </div>
  </div>
</div>